@mixin bp($point) {
	@if $point == tablet-landscape {
		@media only screen and (max-width: 1169px) { @content; }
	}
	@elseif $point == tablet-portrait {
		@media only screen and (max-width: 1023px){ @content; }
	}
	@elseif $point == mobile-landscape {
		@media only screen and (max-width: 767px) { @content; }
	}
	@elseif $point == mobile-portrait {
		@media only screen and (max-width: 480px) { @content; }
	}
}
@mixin make-columns($point) {
	$new: '';
	@if $point == '' {
		$new: '';
	}
	@else {
		$new: $point + "-";
	}
	@each $s in $gutters {
		.gutter-#{$new}#{$s} {
			margin-left: -#{$s}px;
			> [class^="col-"], > [class*=" col-"] {
				padding-left: #{$s}px;
				margin-bottom: #{$s}px;
			}
			> [class^="push-"], > [class*=" push-"] {
				margin-left: #{$s}px;
			}
		}
	}
	@for $i from 1 through $cols {
		.col-#{$new}#{$i} {
			width: $i / $cols * 100%;
		}
		.push-#{$new}#{$i} {
			padding-left: $i / $cols * 100%;
		}
	}
	.push-#{$new}0 {
		padding-left: 0;
	}
	.col-#{$new}fifth {
		width: 20%;
	}
}
